{
    "plugins": [
      "prettier-plugin-tailwindcss",
      "prettier-plugin-sort-imports"
    ],
    "tailwindConfig": "./tailwind.config.ts",
    "importOrder": [
      "^react$",
      "<THIRD_PARTY_MODULES>",
      "^@/components/(.*)$",
      "^[./]"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "semi": true,
    "singleQuote": true,
    "trailingComma": "all",
    "tabWidth": 2
  }
  